# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Env files
.env
.env.local
.env.*.local

# Backend
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/storage/logs/
backend/bootstrap/cache/*.php
backend/database/database.sqlite

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
